<div id="dashboard">
    <div class="jumbotron">
        <h1>VSAS 综艺节目分析系统</h1>
        <p>该项目源码已同步到GitHub（项目功能尚未完善），1907040446-宋津京-数据可视化课程设计</p>
        <p>
            <a class="btn btn-danger btn-lg" href="https://github.com/SONG-2J/VSAS" role="button">前往项目地址</a>
        </p>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">使用技术说明：</div>
        <table class="table">
            <tr>
                <th>技术方面</th>
                <th>技术名称</th>
                <th>技术网址</th>
            </tr>
            <tr>
                <td>网络爬虫</td>
                <td>python-requests</td>
                <td></td>
            </tr>
            <tr>
                <td>数据处理</td>
                <td>pandas</td>
                <td><a href="https://pandas.pydata.org">https://pandas.pydata.org</a></td>
            </tr>
            <tr>
                <td>网站框架</td>
                <td>Django</td>
                <td><a href="http://django.p2hp.com">http://django.p2hp.com</a></td>
            </tr>
            <tr>
                <td>可视化</td>
                <td>ecahrts</td>
                <td><a href="https://echarts.apache.org/zh/index.html">https://echarts.apache.org/zh/index.html</a></td>
            </tr>
            <tr>
                <td>情感分析</td>
                <td>snownlp</td>
                <td><a href="https://github.com/isnowfy/snownlp">https://github.com/isnowfy/snownlp</a></td>
            </tr>
        </table>
    </div>
</div>