<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>vsasLogin</title>
    {% include 'tools.html' %}
</head>
<body style="background-image: url('/static/images/bg.jpg');background-repeat: repeat">
<div class="container col-center col-sm-12">
    <div style="height: 300px"></div>
    <div class="container col-center col-sm-4 col-sm-offset-6">
        {% csrf_token %}
        <form id="loginForm" role="form" class="form-horizontal" method="post">
            <div class="form-group center-block">
                <label for="username" class="control-label">用户名: </label>
                <div class="col-sm-12">
                    <input name="username" value="{{ username }}" id="username" type="text" class="form-control" style="width: 250px" placeholder="username">
                </div>
                <span id="spanErrMsg01" style="color: red">{{ errMsg_username }}</span>
            </div>

            <br>

            <div class="form-group center-block">
                <label for="password" class="control-label">密码: </label>
                <div class="col-sm-12">
                    <input name="password" value="{{ password }}" id="password" type="text" class="form-control" style="width: 250px"  placeholder="password">
                </div>
                <span id="spanErrMsg02" style="color: red">{{ errMsg_password }}</span>
            </div>

            <br>

            <div>
                <button type="submit" class="btn btn-info">登录</button>

                <button class="btn btn-default col-sm-offset-4">注册</button>
            </div>

        </form>
    </div>
</div>
</body>
</html>